datasheet/

# Build directory
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
pico_sdk_import.cmake

# Pico build outputs
*.elf
*.bin
*.uf2
*.map
*.hex

# Object / dependency files
*.o
*.d

# Editor
*.swp
*.swo
*~
session.nvim

# OS
.DS_Store
.vscode/
.idea/
.cache/
